<h3>Use the navigation bar to select your option.</h3>
<br/>
<h3>Or quick-add a group:</h3>
<div id="quickadd">
  <a href="/courses/new">
    <button class="quickadd btn btn-secondary">Course</button>
  </a>
  <a href="/cohorts/new">
    <button class="quickadd btn btn-secondary">Cohort</button>
  </a>
  <br>
  <a href="/instructors/new">
    <button class="quickadd btn btn-secondary">Instructor</button>
  </a>
  <a href="/students/new">
    <button class="quickadd btn btn-secondary">Student</button>
  </a>
</div>
