<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Cohorts</h1>
  <% if current_user.has_role? 'admin' %>
    <%= link_to new_cohort_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  <% end %>
</div>

<div id="table">
  <%= render 'table' %>
</div>