<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors</h1>
  <%= link_to new_instructor_path do %>
    <i class="fas fa-plus-circle"></i> Instructors
  <% end %>
</div>

<div id="table">
  <%= render 'table' %>
</div>