<header id="main-header" class="row">
  <div class="col-md-1 navbar-btn-container">
    <i class="fas fa-bars header-link navbar-menu-btn"></i>
  </div>
  <h4 class="col-md-11">
    <a class='header-link' href='/'>
      Admin Panel
    </a>
  </h4>
</header>