<header id="main-header">
  <div class="navbar-btn-container">
    <i class="fas fa-bars header-link navbar-menu-btn"></i>
  </div>
  <h4>
    <a class='header-link' href='/'>
      Admin Panel
    </a>
  </h4>
</header>