#main-header {
  background: #000429;
  color: white;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 2;

  h4{
    margin: 0;
    text-align: center;
  }

  .account-link-container {
    text-align: left;
  }

  .sign-link-container {
    text-align: right;
  }

  .header-link {
    color: white;
    font-size: 1.3em;

    &:hover {
      color: #bbb;
      text-decoration: none;
    }
  }
}