#left-navbar-container {
  background: navy;
  min-height: 100vh;
  font-size: 1.5em;

  ul {
    .active {
      color: goldenrod;
    }

    li:first-child {
      border-top: none;
    }

    li {
      border-top: 1px solid white;
      padding: 10px 0;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #da9e1a;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #left-navbar-container {
    display: none;
    position: absolute;
    width: 40vw;
    z-index: 2000;
    opacity: 0.95;
  }
}

@media (max-width: 576px) {
  #left-navbar-container {
    width: 60vw;
  }
}
