<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Courses</h1>
  <%= link_to new_course_path do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>
</div>

<div id="table">
  <%= render 'table' %>
</div>