@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "./partials/*";

body {
  font-family: 'Raleway', sans-serif;
  min-height: 99vh;
  padding: 0;
}

#signin {
  position: absolute;
  z-index: 2000;
  background: navy;
  height:110vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  .fa-graduation-cap {
    position: absolute;
    font-size: 15vw;
    top: 10%;
    color: white
  }
}

#wrapper {
  margin: auto;
  padding: 0;
}

#main {
  margin-top: 25px;
}

#sidebar {
  position: sticky;
  top: 5%;
}

.buttons {
  display: flex;
  button {
    margin: 20px 10px;
  }
}

.inputs {
  width: 70%;
}

.fa-minus-circle {
  color: red;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;

  .fas {
    font-size: 2em;
    margin: 0 15px;
  }

  h1 {
    margin: 0;
  }
}

.alert-alert {
  background: red;
  color: white;
}

.alert-notice {
  background: green;
  color: white;
}

.asc {
  position:relative;
}
.asc:before {
  margin-right: 5px;
  content: "\f106";
  font-family: 'Font Awesome\ 5 Free';
}

.desc {
  position:relative;
}
.desc:before {
  margin-right: 5px;
  content: "\f107";
  font-family: 'Font Awesome\ 5 Free';
}