@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "bootstrap";
@import "rails_bootstrap_forms";

body {
  font-family: 'Raleway', sans-serif;
  min-height: 99vh;
  padding: 0;
}

#wrapper {
  margin: auto;
  padding: 0;
}

#main {
  margin-top: 25px;
}

#sidebar {
  position: sticky;
  top: 5%;
}

.buttons {
  display: flex;
  button {
    margin: 20px 10px;
  }
}

.inputs {
  width: 70%;
}

.fa-minus-circle {
  color: red;
}

#main-header {
  background: #000429;
  color: white;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 2;

  h4{
    margin: 0;
    text-align: center;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  overflow: auto;
  height: 70vh;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

#left-navbar-container {
  background: navy;
  min-height: 100vh;
  font-size: 1.5em;

  ul {
    .active {
      color: goldenrod;
    }

    li {
      border-top: 1px solid white;
      padding: 10px 0;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #da9e1a;
        }
      }
    }
  }

  #dashboard {
    border-top: none;
  }
}